body{
    text-align:center;
	color:black;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,#ee7752,#e73c7e,#23a6d5);
    background-size: 3000% 3000%;
    animation: gradientBG 30s ease infinite;
}
@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
div#card{
    border-radius: 5px;
    text-align: center;
    background:white;
    height:150px;
    width:450px;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div#buttons{
    bottom:0;
}
footer {
    position: absolute;
    bottom: 0;
    height: 50px;
  }
  button{
    border-radius: 8px;
    border: 2px solid black;
    color:black;
    background: white;
    padding: 15px 16px;
  }